/*website logo color= #f06a21*/
/* Base styles for the entire site */

/* Reset some default browser styles */
@font-face {
  font-family: 'CustomFont';
  src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General body styles */
body {
  color: white; /* Text color */
  font-family: CustomFont, serif; /* Font family */
  background-color: #000000; /* Background color */
  line-height: 1.6; /* Line height for readability */
}

/* Link styles */
a {
  color: #f06a21; /* Link color */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  transform: scale(1.1); /* Underline links on hover */
}

/* Main content styles */
main {
  padding: 1rem; /* Padding around main content */
  max-width: 1000px; /* Maximum width for main content */
  margin: 0 auto; /* Center align main content */
}



/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; /* Bottom margin for headings */
  font-weight: bold; /* Bold font for headings */
  
  font-size: 5vw; /* Font size will be 5% of the viewport width */
  
}
@media(max-width:768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 5vw;
  }
  
}

/* Paragraphs */
p {
  margin-bottom: 1rem; /* Bottom margin for paragraphs */
  margin: 0;
  
}

/* Add styles for forms, buttons, etc. here */
/* Example:
form {
  margin: 1rem 0;
}

button {
  background-color: #007acc;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005f8d;
}
*/

/* Add additional global styles as needed */
