/* General Header Styling */
.header {
  width: 100%;
  background-color: #f9fafc;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container > .logo-container {
  flex: 0 0 30% ; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
  box-sizing: border-box;
}
/* Logo Container (Left) */
.logo-container {
  height: auto;
  width: auto;
  overflow: hidden;
  padding: 5px;
}

.logo-container img {
  height: 50px;
  width: auto;
  max-width: none;
}

/* Header Right: Call Now and Hamburger Menu (Right) */
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.call-now-container {
  margin-right: 20px;
}

.call-now-button {
  background-color: #f06a21;
  color: #242424;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

.call-now-button:hover {
  background-color: #2493d4;
}

/* Hamburger Menu Button */
.hamburger-container {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-right: 20px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menu-toggle-bar {
  height: 4px;
  background-color: #f06a21;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle.active .menu-toggle-bar--top {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .menu-toggle-bar--middle {
  opacity: 0;
}

.menu-toggle.active .menu-toggle-bar--bottom {
  transform: translateY(-10px) rotate(-45deg);
}

/* Navigation Menu */
.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 20px;
  transition: all 0.5s ease;
  z-index: 900;
}

.nav-menu.active {
  display: block;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0 15px; /* Space between links */
} 

/* Media Query for large screens */
@media (min-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #f9fafc;
  }
  .header> .header-container {
    flex: 0 0 20% !important; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
    box-sizing: border-box;
  } 
   .header-container > .logo-container {
    flex: 0 0 100% !important; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
    box-sizing: border-box;
  } 

  .menu-toggle {
    display: none;
  }

  .call-now-container {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .nav-menu {
    display: flex;
    justify-content: center; /* Center the nav menu */
    align-items: center;
    position: static;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .nav-links {
    display: flex;
    justify-content: center; /* Center the links */
    align-items: center;
    flex: 1;
  }

  .nav-link {
    margin: 0 20px;
    padding: 0;
  }

  .nav-link:hover {
    cursor: pointer;
    color: #f06a21;
  }
}

/* Media Query for small screens */
@media (max-width: 850px) {
  .menu-toggle {
    display: flex;
  }

  .call-now-container {
    display: block;
  }

  .nav-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    transition: all 0.3s ease;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    margin: 1rem 0;
    font-size: 1rem;
  }

  .nav-link:hover {
    cursor: pointer;
    color: #f06a21;
  }

  .link {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
