/* General Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Font Styling */
body {
/* font-family: inherit; */
  /* color: inherit; */
  /* background-color: inherit; */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styling */
.header {
  width: 100%;
  /* background-color: inherit; */
  padding: 20px 40px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  max-height: 50px;
}

/* Call Now Button */
.call-now-container {
  display: flex;
  align-items: center;
}

.call-now-button {
  background-color: #007acc;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.call-now-button:hover {
  background-color: #f06a21;
}

/* Hamburger Menu Button */
.hamburger-container {
  display: none;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle-bar {
  height: 3px;
  width: 100%;
  background-color: #f06a21;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-toggle.active .menu-toggle-bar--top {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .menu-toggle-bar--middle {
  opacity: 0;
}

.menu-toggle.active .menu-toggle-bar--bottom {
  transform: translateY(-10px) rotate(-45deg);
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-link {
  margin: 0 20px;
  color: inherit;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007acc;
  transform: scale(1.5);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger-container {
    display: flex;
  }

  .call-now-container {
    display: none; /* Hide Call Now button on smaller screens */
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-link {
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }
  
}
