/* General Section Styling */
.joinnow-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: inherit;
  }
  
  /* Join Now Container */
  .joinnow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    background-color: transparent;
  }
  
  .image-container {
    flex: 1;
  }
  
  .joinnow-image {
    height: 100%;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  
  /* Text Container */
  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .joinnow-heading {
    color: inherit;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .joinnow-subheading {
    color: #007acc;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .joinnow-availability {
    color: inherit;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* WhatsApp Button Styling */
  .whatsapp-button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  
  .whatsapp-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007acc;
    color:black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.2);
  }
  
  .whatsapp-button i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .joinnow-container {
      flex-direction: column;
      text-align: center;
    }
  
    .image-container, .text-container {
      width: 100%;
    }
  
    .whatsapp-button-wrapper {
      justify-content: center;
    }
  }
  